[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
secml = "==0.11"
jupyter = "*"
tqdm = "*"
torch= "*"
torchvision = "*"
pycm = "*"
seaborn = "*"

[requires]
python_version = "3.7"
